#div1 {
    width: 300px;
    height: 300px;
    padding: 10px;
    background-color: rgb(0, 12, 141);
    border-radius: 30px;
}
 
#img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    margin-left: 50px;
    margin-top: 40px;
    margin-left: 50px;
    margin-top: 40px;
}
 
#text{
    color: rgb(0, 0, 0);
    margin-left: 600px;
    margin-top: 60px;
}