body{
    background-color: black;
    border: 10px solid red;
}


div{
    display: inline-block;
    position: relative;
    left: 100px;
}
.teste{
    color: red;
    text-align: center;
}
.o1{
    text-align: center;
}    

.o2{
    text-align: center; 
}    

.mp4{
    left: 50px;
    border: 2.5px solid red;
}


