body{
    background-image:url(lab.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;

}

#div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    width: 100%;
    height: 1000px;
}